.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/

.env
gocd/server/ssh/**
!gocd/server/ssh/put-ssh-keys-here
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
